.lessons {
    margin: 30px 0;
    background-color: #fff;
    padding: 50px 0;
    .container {
        a {
            color: #000;
        }
        .grid-container {
            display: grid;
            grid-template-columns: auto auto auto auto auto;
            grid-gap: 20px;
            padding: 20px;
            justify-items: center;
            .item {
                border: 1px solid #cfcbcb;
                width: 100%;
                padding: 20px;
                overflow: hidden;
                text-align: center;
                cursor: pointer;
                img {
                    width: 40px;
                }
            }
            .item:hover img {
                transform: scale(1.2);
                transition: all 0.3s;
            }
            .item:hover .item__name {
                color: blue;
            }
        }
    }
}
