.task {
    h1 {
        margin-bottom: 30px;
    }
    hr {
        margin-bottom: 40px;
    }
    .panel {
        margin-bottom: 20px;
        background-color: #fff;
        border: 1px solid transparent;
        border-radius: 4px;
    }
    .panel-warning {
        border-color: #faebcc;
    }
    .panel-heading {
        color: #8a6d3b;
        background-color: #fcf8e3;
        border-color: #faebcc;
    }

    .panel-body form {
        width: auto;
    }

    .label-success {
        background-color: #5cb85c;
    }
    .label-danger {
        background-color: #ee5a35;
    }

    .label {
        display: inline;
        padding: 0.2em 0.6em 0.3em;
        font-size: 75%;
        font-weight: 700;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: 0.25em;
    }

    .panel-title span {
        cursor: pointer;
    }
    .ml-100 {
        margin-left: 100px;
    }
}
